.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }

body {
  font: 10px sans-serif;
}

.bar rect {
  fill: green;
}

.bar text.value {
  fill: white;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
}

.x.axis line {
  stroke: #fff;
  stroke-opacity: .5;
}

.y.axis path {
  stroke: green;
}

/* Bullet Chart */
.bullet { font: 10px sans-serif; float: left}
.bullet .marker { stroke: red; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: rgb(1,176,241); }/* red */
.bullet .range.s1 { fill: rgb(145,195,0); } /* green */
.bullet .range.s2 { fill: rgb(255,0,102); } /* blue */
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: black; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }

button {
  font: 14px Helvetica Neue;
  background-color: #222;
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.25), rgba(255,255,255,.11));
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255,255,255,.25)),color-stop(1, rgba(255,255,255,.11)));
  background-image: -webkit-linear-gradient(rgba(255,255,255,.25), rgba(255,255,255,.11));
  color: #fff;
  text-rendering: optimizeLegibility;
  text-shadow: 0 -1px 1px #222;
  padding: 6px 10px 6px 10px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #222;
  margin: 0;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
}

button.first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

button.last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

button.active {
  background-color: rgb(65,102,133);
}

button:hover {
  background-color: steelblue;
}

.data-line {
	stroke: #F00;
	stroke-width: 2;
	fill: none;
	stroke-dasharray: 0;
}

path {
	stroke: #CDCDCD;
	stroke-width: 1;
	stroke-dasharray: 0;
	fill: none;
}

text {
	font-family: Arial;
	font-size: 8pt;
	fill: #787878;
}

line {
	stroke: #CDCDCD;
	stroke-dasharray: 3 3;
	fill: none;
}

.data-point {
	stroke: #F00;
	stroke-width: 2;
	fill: #FFF;
}